<div class="container-fluid">
<div class="row-fluid">
  <div class="main ng-cloak mx-auto">
  <div class="movie span10" ng-controller="movieCtrl as movie">
    <div class="row px-2 mt-2" ng-show="movie.selectedMovie.title != null">
      <div class="span6 col-md-4 mx-auto">
        <img class="mx-auto movie-img" align="center" check-image ng-src="{{movie.selectedMovie.movieUrl}}" style="width:240px">
        <h4>Top Billed Cast</h4>
        <div class="row cast-row" align="center">
          <div class="col-md-4" ng-repeat="member in movie.selectedMovie.cast|limitTo:3">
            <img class="cast" ng-src="http://image.tmdb.org/t/p/w184/{{member.profile_path}}">
            <div>{{member.name}}</div>
          </div>
        </div>
      </div>
      <div class="span6 col-md-8 mx-auto mt-40 overview">
        <h2>{{movie.selectedMovie.title}} ({{movie.selectedMovie.substring_release_date}})</h2>
        <div class="mt-20">
          <h3>Overview</h3>
          <p>{{movie.selectedMovie.overview}}</p>
          <h4>Featured Crew</h4>
          <p>{{movie.crew}}</p>
          <div class="row crew-row" align="center">
            <div class="col-md-4 crew" ng-repeat="member in movie.selectedMovie.crew|limitTo:3">
              <div><b>{{member.name}}</b></div>
              <div>{{member.job}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- movie -->
  <div class="search span2" ng-controller="searchCtrl as search">
    <div ng-click="search.openSlider()" ng-hide="search.closeBtn" class="slider"><img style="width:32px" src="/assets/icons/menu-alt-512-23638308073a2fdb616cff4e3733a54f96a7517369063c0901de9a37d6f58420.png"></div>
<div class="menu">
<div class="p-3"><input ng-model="search.input" placeholder="Search" ng-change="search.query()"><div class="close" ng-click="search.openSlider()"><img style="width:32px" src="/assets/icons/menu_hamburger_close-58bf6043ddcbec4efa91a1f1f309cd33f5f56989bd1c3a823fc233911248b223.png"></div></div>
    <div class="results" ng-show="search.result_length != 0">
      <div>{{search.result_length}} results</div>
      <div class="item" ng-repeat="item in search.results">
	      <div ng-click=search.selectMovie(item)>
          <div class="row">
            <div class="col-md-5"><img class="search-img" ng-src="https://image.tmdb.org/t/p/w92_and_h138_bestv2/{{item.poster_path}}"></div><div class="text col-md-5"><div><b>{{item.title}}</b></div><div>{{item.release_date | date:'yyyy-MM-dd'}}</div></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div> <!-- search -->
  </div> <!-- main -->
</div>
</div>
